.v44_2 {
    width: 100%;
    height: 1500px;
    background: rgba(239, 239, 239, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v58_13 {
    width: 900px;
    height: 1000px;
    background: rgba(94, 100, 243, 1);
    opacity: 1;
    position: absolute;
    top: 398px;
    left: 250px;
}

.v58_14 {
    width: 264px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 481px;
    left: 325px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_10 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 462px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v58_17 {
    width: 144px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 580px;
    left: 446px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_18 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 561px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v58_19 {
    width: 121px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 683px;
    left: 461px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_20 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 664px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v58_21 {
    width: 81px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 788px;
    left: 501px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_22 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 769px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v58_23 {
    width: 61px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 890px;
    left: 501px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_24 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 871px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v58_25 {
    width: 106px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 995px;
    left: 470px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_26 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 976px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v58_27 {
    width: 74px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1105px;
    left: 503px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_28 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 1086px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v58_29 {
    width: 195px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1209px;
    left: 383px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v58_30 {
    width: 490px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 1190px;
    left: 620px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}